{% extends "base.twig" %}

{% block content %}
{% set shit = 'Shit' in post.categories %}

<article class="post" id="{{ post.slug }}">
    <div class="splash {{ post.get_field('splash_class') }}">
        {% if post.thumbnail.src %}
            <div class="splash_image" style="background-image: url('{{ post.thumbnail.src('large') }}');"></div>
        {% endif %}
        <h1 class="title">
            {{ post.title }}
        </h1>

        {% if shit %}
        <h1 class="rating shit">
            Shit
        {% else %}
        <h1 class="rating not-shit">
            Not shit
        {% endif %}
        </h1>
    </div>
    {{ function('shit_content', post) }}
    <div class="details">
        {% if false %}
            <div class="avatar" style="background-image: url('{{ post.author.avatar.src('small') }}');"></div>
        {% endif %}
        <span>
            {{ post.date('F jS') }} {{ post.date('H:i') }}
        </span>
        {% if post.edit_link %}
            <a class="edit" href="{{ post.edit_link }}">edit</a>
        {% endif %}
    </div>
</article>
{% endblock %}
